version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ⬆
    cooldown:
      default-days: 7
  # Python
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: ⬆
    cooldown:
      default-days: 7
