language: python

cache: pip

python:
    - "3.6"
    - "3.7-dev"

install:
    - pip install pipenv
    - pipenv install

script:
    - bash scripts/test.sh

after_script:
    - bash <(curl -s https://codecov.io/bash)
