[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
black = "*"
jupyter = "*"
better-exceptions = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
requests = "*"
flit = "*"
mkdocs = "*"
mkdocs-material = "*"
markdown-include = "*"
autoflake = "*"
email-validator = "*"
ujson = "*"
flake8 = "*"

[packages]
starlette = "==0.9.10"
pydantic = "==0.18.2"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
