[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "fastapi"
author = "Sebastián Ramírez"
author-email = "tiangolo@gmail.com"
home-page = "https://github.com/tiangolo/fastapi"
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Internet :: WWW/HTTP",
]
requires = [
    "starlette ==0.13.4",
    "pydantic >=0.32.2,<2.0.0"
]
description-file = "README.md"
requires-python = ">=3.6"

[tool.flit.metadata.urls]
Documentation = "https://fastapi.tiangolo.com/"

[tool.flit.metadata.requires-extra]
test = [
    "pytest >=5.4.3",
    "pytest-cov",
    "mypy",
    "black",
    "isort",
    "requests",
    "email_validator",
    "sqlalchemy",
    "peewee",
    "databases[sqlite]",
    "orjson",
    "async_exit_stack",
    "async_generator",
    "python-multipart",
    "aiofiles",
    "flask"
]
doc = [
    "mkdocs",
    "mkdocs-material",
    "markdown-include",
    "typer",
    "typer-cli",
    "pyyaml"
]
dev = [
    "pyjwt",
    "passlib[bcrypt]",
    "autoflake",
    "flake8",
    "uvicorn",
    "graphene"
]
all = [
    "requests",
    "aiofiles",
    "jinja2",
    "python-multipart",
    "itsdangerous",
    "pyyaml",
    "graphene",
    "ujson",
    "orjson",
    "email_validator",
    "uvicorn",
    "async_exit_stack",
    "async_generator"
]
