[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "fastapi"
author = "Sebastián Ramírez"
author-email = "tiangolo@gmail.com"
home-page = "https://github.com/tiangolo/fastapi"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
]
requires = [
    "starlette >=0.11.1,<=0.12.7",
    "pydantic >=0.32.2,<=0.32.2"
]
description-file = "README.md"
requires-python = ">=3.6"

[tool.flit.metadata.urls]
Documentation = "https://fastapi.tiangolo.com/"

[tool.flit.metadata.requires-extra]
test = [
    "pytest >=4.0.0",
    "pytest-cov",
    "mypy",
    "black",
    "isort",
    "requests",
    "email_validator",
    "sqlalchemy",
    "databases[sqlite]",
]
doc = [
    "mkdocs",
    "mkdocs-material",
    "markdown-include"
]
dev = [
    "pyjwt",
    "passlib[bcrypt]"
]
all = [
    "requests",
    "aiofiles",
    "jinja2",
    "python-multipart",
    "itsdangerous",
    "pyyaml",
    "graphene",
    "ujson",
    "email_validator",
    "uvicorn",
]
