-e .[all]
-r requirements-tests.txt
-r requirements-docs.txt
uvicorn[standard] >=0.12.0,<0.23.0
pre-commit >=2.17.0,<4.0.0

pydantic~=2.1.1
starlette~=0.27.0
requests~=2.31.0
websockets~=11.0.3
mkdocs~=1.5.2
Jinja2~=3.1.2
MarkupSafe~=2.1.2
fastapi~=0.101.0
PyGithub~=1.59.1
couchbase~=4.1.7