.termy{
    direction: ltr;
}
code{
    direction: ltr;
    display: inline-block;
}
.external-link{
    direction: ltr;
    display: inline-block;
}

.md-content__inner h1{
    direction: ltr !important;
}