name: Test

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
  schedule:
    # cron every week on monday
    - cron: "0 0 * * 1"

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-dependency-glob: |
            requirements**.txt
            pyproject.toml
      - name: Install Dependencies
        run: uv pip install -r requirements-tests.txt
      - name: Lint
        run: bash scripts/lint.sh

  test:
    strategy:
      matrix:
        os: [ windows-latest, macos-latest ]
        python-version: [ "3.14" ]
        pydantic-version: [ "pydantic>=2.0.2,<3.0.0" ]
        include:
          - os: macos-latest
            python-version: "3.8"
            pydantic-version: "pydantic>=1.10.0,<2.0.0"
          - os: windows-latest
            python-version: "3.8"
            pydantic-version: "pydantic>=2.0.2,<3.0.0"
            coverage: coverage
          - os: ubuntu-latest
            python-version: "3.9"
            pydantic-version: "pydantic>=1.10.0,<2.0.0"
            coverage: coverage
          - os: macos-latest
            python-version: "3.10"
            pydantic-version: "pydantic>=2.0.2,<3.0.0"
          - os: windows-latest
            python-version: "3.11"
            pydantic-version: "pydantic>=1.10.0,<2.0.0"
          - os: ubuntu-latest
            python-version: "3.12"
            pydantic-version: "pydantic>=2.0.2,<3.0.0"
          # Run one test with Pydantic < 2.7 to test changes across versions
          - os: ubuntu-latest
            python-version: "3.12"
            pydantic-version: "pydantic>=2.0.2,<2.7.0"
            coverage: coverage
          - os: macos-latest
            python-version: "3.13"
            pydantic-version: "pydantic>=1.10.0,<2.0.0"
          - os: windows-latest
            python-version: "3.13"
            pydantic-version: "pydantic>=2.0.2,<3.0.0"
            coverage: coverage
          - os: ubuntu-latest
            python-version: "3.14"
            pydantic-version: "pydantic>=2.0.2,<3.0.0"
            coverage: coverage
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.4.15"
          enable-cache: true
          cache-dependency-glob: |
            requirements**.txt
            pyproject.toml
      - name: Install Dependencies
        run: uv pip install -r requirements-tests.txt
      - name: Install Pydantic
        run: uv pip install "${{ matrix.pydantic-version }}"
      # TODO: Remove this once Python 3.8 is no longer supported
      - name: Install older AnyIO in Python 3.8
        if: matrix.python-version == '3.8'
        run: uv pip install "anyio[trio]<4.0.0"
      - run: mkdir coverage
      - name: Test
        run: bash scripts/test.sh
        env:
          COVERAGE_FILE: coverage/.coverage.${{ runner.os }}-py${{ matrix.python-version }}
          CONTEXT: ${{ runner.os }}-py${{ matrix.python-version }}
      # Do not store coverage for all possible combinations to avoid file size max errors in Smokeshow
      - name: Store coverage files
        if: matrix.coverage == 'coverage'
        uses: actions/upload-artifact@v5
        with:
          name: coverage-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('**/coverage/.coverage.*') }}
          path: coverage
          include-hidden-files: true

  coverage-combine:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.8'
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.4.15"
          enable-cache: true
          cache-dependency-glob: |
            requirements**.txt
            pyproject.toml
      - name: Install Dependencies
        run: uv pip install -r requirements-tests.txt
      - name: Get coverage files
        uses: actions/download-artifact@v6
        with:
          pattern: coverage-*
          path: coverage
          merge-multiple: true
      - run: ls -la coverage
      - run: coverage combine coverage
      - run: coverage html --title "Coverage for ${{ github.sha }}"
      - name: Store coverage HTML
        uses: actions/upload-artifact@v5
        with:
          name: coverage-html
          path: htmlcov
          include-hidden-files: true
      - run: coverage report --fail-under=100

  # https://github.com/marketplace/actions/alls-green#why
  check:  # This job does nothing and is only used for the branch protection
    if: always()
    needs:
      - coverage-combine
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
